.custom-navbar {
    height: 74px;
    width: calc(100% - 350px);
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 300px;
    z-index: 1000;
    border-bottom: 1px solid #e5e7eb;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    padding: 0 24px;
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .search-bar1 input {
    width: 250px;
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 14px;
    height: 30px;
    border:1px solid rgb(133, 133, 133);
  }
  
  .right-section {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .profile-pic {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    object-fit: cover;
    
  }
  
  .notification-icon {
    position: relative;
  }
  
  .notification-badge {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: red;
    color: white;
    font-size: 10px;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 6px;
    line-height: 1;
  }
  
  .bell-icon {
    font-size: 24px;
    color: black;
  }
  