.featured-container {
    padding: 30px;
    margin: 0 60px;
  }
  
  .featured-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product-card {
    width: 200px;
    background: #fff;
    border-radius: 12px;
    padding: 15px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    border: 1px solid black;
  }
  
  .badge2 {
    position: absolute;
    top: 10px;
    left: 10px;
    background: red;
    color: #fff;
    padding: 2px 8px;
    font-size: 12px;
    border-radius: 5px;
  }
  
  .product-img {
    width: 100%;
    height: 120px;
    object-fit: contain;
    margin-bottom: 10px;
  }
  
  .category {
    font-size: 13px;
    color: gray;
    margin-bottom: 4px;
    display: flex;
  }
  
  .product-name {
    font-size: 16px;
    margin-bottom: 6px;
    display: flex;
  }
  
  .rating {
    font-size: 14px;
    color: #ffa500;
    margin-bottom: 6px;
    padding-right: 105px;
  }
  
  .rating-value {
    color: #333;
    font-size: 12px;
  }
  
  .price-section {
    display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  }
  
  .price {
    font-size: 16px;
    font-weight: bold;
    color: #000;
  }
  
  .original-price {
    font-size: 14px;
    text-decoration: line-through;
    color: gray;
    margin-left: 6px;
  }
  
  .add-btn {
    background: #2ecc71;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .add-btn:hover {
    background: #27ae60;
  }
  @media (max-width: 768px) {
    .featured-container {
      margin: 0 15px;
      padding: 15px;
    }
  
    .product-grid {
      justify-content: center; 
    }
  
    .product-card {
      width: 100% !important; 
      max-width: 100% !important;
      margin: 0 auto; 
    }
    .rating {
      font-size: 14px;
      color: #ffa500;
      margin-bottom: 6px;
      display: flex;
    }
  }
  
  @media (max-width: 480px) {
    .featured-container {
      margin: 0 15px; 
      padding: 15px;
    }
  
    .product-grid {
      justify-content: center;
    }
  
    .product-card {
      width: 100% !important; 
      max-width: 100% !important;
      margin: 0 auto; 
    }
    .rating {
      font-size: 14px;
      color: #ffa500;
      margin-bottom: 6px;
      padding-right: 215px;
    }
  }
  