.info-strip {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 60px;
    background-color: #fff;
    margin: 0 20px;
  }
  
  .info-item {
    flex: 1 1 22%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin: 20px 0;
    min-width: 200px;
    padding: 0 10px;
  }
  
  .info-icon {
    color: green;
  }
  
  .info-item h4 {
    font-size: 16px;
    font-weight: 600;
    color: #1e2a32;
    margin: 0;
  }
  
  .info-item p {
    font-size: 14px;
    color: #5e6e75;
    margin: 0;
  }
  