.modal {
    max-height: 400px;
    overflow-y: auto;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    width: 350px;
    max-width: 90%;
    position: relative;
    z-index: 999;
    font-family: 'Inter', sans-serif;
  }
  
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 998;
  }
  .signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh; 
    background-color: #f8f9fa;
    background-image: url('../images/bg.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
  }
  .close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .signup-form {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 1px solid #ccc; 
  }
  
  .form-group1 {
    margin-bottom: 1rem;
  }
  
  .form-group1 label {
    margin-top: 10px;
    margin-bottom: 0.3rem;
    display: block;
    font-size: 14px;
  }
  
  .form-group1 input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 330px;
  }
  .para2{
    font-size: 12px;
  }
  .para3{
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    font-size: 15px;
  }
  .submit-btn1 {
    background-color: #28a745;
    color: white;
    padding: 0.6rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
    font-weight: bold;
  }
  
  .submit-btn1:hover {
    background-color: #218838;
  }